{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block content %}
<div class="profile-card">

    <div class="profile-image">
        {% if user.profile.image and user.profile.image.url %}
            <img src="{{ user.profile.image.url }}" alt="Profile Picture">
        {% else %}
            <img src="{% static 'images/avatar.svg' %}" alt="Default Avatar">
        {% endif %}
    </div>

    <div class="profile-details">
        <h2>Welcome, {{ user.profile.name|default:user.username }}</h2>
        <p class="username">@{{ user.username }}</p>
        
        <div class="profile-actions">
            <a href="{% url 'profile_edit' %}" class="btn btn-edit">Edit Profile</a>
            <a href="{% url 'account_logout' %}" class="btn btn-logout">Logout</a>
        </div>
    </div>

</div>
{% endblock content %}